@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');
@import 'vars';
@import 'header';
@import 'footer';
@import 'remodal';
@import 'second-menu';
@import 'slick';
@import 'slick-theme';
@import 'jquery.fancybox.min';
@import 'jquery-ui';

* {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #919191;
}

:-ms-input-placeholder {
    color: #919191;
}

::-ms-input-placeholder {
    color: #919191;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 400;
}

::placeholder {
    color: #919191;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 400;
}
html {
    overflow-x: hidden; 
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
input,textarea {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.container {
    max-width: $max-width;
    padding: 0px 15px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    @media (max-width:480px) {
        padding: 0px 10px;
     }
}
.-flex {
    display: flex;
}
.-center {
    align-items: center;
}
.-wrap {
    flex-wrap: wrap;
}
.-just-btw {
    justify-content: space-between;
}

 .wrapper{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1;
    -ms-flex-preferred-size: auto;
    min-height: calc(100vh - 60px)
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }

.fancybox-slide--iframe .fancybox-content {
    width: 60% !important;
    padding: 15px 30px;
    @media (max-width:760px) {
        width: 100% !important;
    padding: 10px 00px;
    }
}
.ImPoliticWrap-Title {
    font-size: 20px;
    margin-top: 0px;
    font-weight: bold;
}
.fancybox-slide {
    @media (max-width:760px) {
        padding: 0px;
    }
}
.ImPoliticWrap {
    font-weight: 300;
    font-size: 16px;
    padding: 20px 40px;
    padding-bottom: 45px;
    @media (max-width:760px) {
        padding: 20px 10px;
    }
}

.modal-product.fancybox-content {
    max-width: 750px;
    width: 100%;
    @media (max-width:760px) {
        padding: 30px 10px;
        padding-bottom: 0px;
        .horizontal-form {
            input {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.fancybox-is-open .fancybox-bg {
    background: #1A3036;
    opacity: 0.9;
}


.index-section-1, .section-1-shtablers, .section-1-catalog {
    background: url(../img/bg-1.jpg) no-repeat center;
    background-size: cover;
    height: 670px;
    padding-top: 22px;
    @media (max-width:760px) {
        background: url(../img/bg-1-mob.jpg) no-repeat bottom;
        background-size: cover;
    }
    h1 {
        max-width: 800px;
        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
        margin-top: 90px;
        @media (max-width:960px) {
            margin-top: 60px;
            font-size: 34px;
            br {
                display: none;
            }
        }
        @media (max-width:760px) {
            margin-top: 50px;
            font-size: 24px;
            br {
                display: none;
            }
        }
    }
    &__des {
        font-weight: 500;
        font-size: 24px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        @media (max-width:760px) {
            font-size: 14px;
        }
        @media (max-width:560px) {
            margin-top: 30px;
        }
        &:before {
            content: '';
            background: url(../img/clock.svg) no-repeat;
            background-size: cover;
            width: 72px;
            height: 72px;
            margin-right: 15px;
            display: block;
            @media (max-width:760px) {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
        }
    }
}
.horizontal-form {
    margin-top: 30px;
    form {
        display: flex;
        align-items: center;
        @media (max-width:760px) {
            flex-wrap: wrap;
        }
        input {
            height: 66px;
            background: #F8F8F8;
            border-radius: 50px;
            padding: 0px 30px;
            font-size: 16px;
            border: none;
            width: 460px;
            background: #fff;
            margin-right: -60px;
            @media (max-width:760px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .btn-yellow  {
            @media (max-width:760px) {
            width: 100%;
            }
        }
    }
}
.btn-yellow  {
    height: 66px;
    background: linear-gradient(94.87deg, #0A7F22 0%, #2CAF48 100%);
    box-shadow: 0px 11px 30px -4px rgba(250, 156, 70, 0.25);
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    min-width: 270px;
    text-align: center;
    padding:24px 55px;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background: #0A7F22;
    }
    &-small {
        height: 40px;
        min-width: 240px;
        padding: 15px 45px;
        display: table;
    }
}

.experts {
    margin: 60px 0px 100px 0px;
    @media (max-width:760px) {
        margin: 40px 0px 50px 0px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        @media (max-width:760px) {
            margin-top: 25px;
            flex-wrap: wrap;
        }
    }
    &__item {
        border: 1px dashed #E1E1E1;
        border-radius: 5px;
        padding: 45px 20px;
        width: 24%;
        @media (max-width:760px) {
            width: 48%;
            margin-bottom: 20px;
            padding: 35px 15px;
        }
        @media (max-width:460px) {
            width: 100%;
        }
    }
    &__img {
        height: 85px;
        margin-bottom: 65px;
        @media (max-width:760px) {
            margin-bottom: 40px;
        }
    }
    &__text {
        font-size: 18px;
        p {
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
.title {
    font-weight: bold;
    font-size: 36px;
    @media (max-width:760px) {
        font-size: 24px;
        br {
            display: none;
        }
    }
}
.sub-title {
    font-size: 24px;
    color: #9A9A9A;
    font-weight: 700;
    @media (max-width:760px) {
        font-size:18px;
    }
}
.products{
    &__category {
    margin-top: 30px;
    margin-bottom: 45px;
    @media (max-width:760px) {
        margin-top: 20px;
        margin-bottom: 45px;
    }
    }
    &__name {
        background: linear-gradient(94.87deg, #FA9C46 0%, #FCD343 100%);
        border-radius: 50px;
        height: 60px;
        padding: 15px 42px;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
        width: 100%;
        z-index: 2;
        position: relative;
        @media (max-width:760px) {
            text-align: center;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
        margin-top: -30px;
        @media (max-width:960px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:540px) {
            grid-template-columns: repeat(1, 1fr);
        }
        
      
    }
    &__item {
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        width: 100%;
        padding: 24px;
        transition: all .2s;
        &:hover {
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            padding-top: 30px;
        }
        &:nth-child(1), &:nth-child(2) {
            @media (max-width:940px) and (min-width:541px) {
                padding-top: 60px;
            }
        }
        &:nth-child(1) {
            @media (max-width:540px) {
                padding-top: 60px;
            }
        }
        p {
            display: table;
            font-weight: 600;
            font-size: 16px;
            background: #F8F8F8;
            border-radius: 50px;
            padding: 7px 22px;
            color: #000000;
        }
    }
    &__img {
        margin: 0 auto;
        padding: 24px 0px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:540px) {
            height: 230px;
        }
        img {
            max-width: 100%;
        }
    }
}

.category-line-many {
    justify-content: space-between;
    @media (max-width:960px) {
        flex-wrap: wrap;
    }
    .products__category__2-item {
        width: calc(67.7% - 20px);
        @media (max-width:960px) {
            width: 100%;
        }
        .products__list {
            grid-template-columns: repeat(2, 1fr);
            @media (max-width:540px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    .products__category__1-item {
        width: calc(34% - 20px);
        @media (max-width:960px) {
            width: 48%;
        }
        @media (max-width:540px) {
            width: 100%;
        }
        .products__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.grey-wrapper {
    background: $lightgrey;
    padding: 1px 0px;
    min-height: calc(100vh - 220px);
}
.actions {
    margin: 74px 0px;
    @media (max-width:760px) {
        margin: 35px 0px;
    }
    &__list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        width: 100%;
        @media (max-width:960px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:760px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:540px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.product {
    &__item {
        background: #FFFFFF;
        border-radius: 5px;
        color: #000;
        text-decoration: none;
        transition: all .2s;
        &:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
        }
    }
    &__img {
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__info {
        border-top: 1px solid #E5E5E5;
        padding: 18px 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__info__top {
        margin-bottom: 30px;
    }
    &__name {
        font-weight: 500;
        font-size: 18px;
    }
    &__descr {
        font-size: 14px;
        margin-top: 10px;
        p {
            margin-top: 0px;
            margin-bottom: 5px;
        }
    }
    &__old-price {
        font-size: 18px;
        text-decoration-line: line-through;
        color: #9A9A9A;
    }
    &__new-price {
        font-weight: 600;
        font-size: 18px;
        margin-top: 5px;
        color: #FA9C46;
        span {
            color: #000;
            font-weight: 500;
        }
    }
}

.awg-popup {
    display: none;
    opacity: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;

    &__content{
        max-width: 760px;
        margin: 0 auto;
        width: calc(100% - 80px);
        max-width: 760px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__close{
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: -30px;

        &:before, &:after{
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: white;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        &:before{
            transform: rotate(45deg);
        }

        &:after{
            transform: rotate(-45deg);
        }
    }

    &__video{
        padding-top: 56.25%;
        position: relative;

        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
}

.videos {
    margin: 80px 0px;
    @media (max-width:760px) {
        margin: 40px 0px;
    }
    &__list {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 90px;
        grid-row-gap: 35px;
        width: 100%;
        @media (max-width:960px) {
            grid-column-gap: 30px;
        }
        @media (max-width:760px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 15px;
            margin-top: 20px;
        }
    }
    &__item {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        display: block;
        img {
            display: block;
            width: 100%;
        }
        &:hover {
            &:after {
                opacity: 0.85;
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../img/play.png) no-repeat center;
            display: block;
            left: 0px;
            top: 0px;
            transition: all .2s;
        }
    }
}

.delivery {
    margin: 80px 0px 0px 0px;
    @media (max-width:760px) {
        margin: 40px 0px 0px 0px;
    }
    &__img {
        width: 120%;
        position: relative;
        left: -250px;
        margin-top: -50px;
        @media (max-width:960px) {
            left: -30px;
            width: 105%;
            margin-top: 0px;
        }
        img {
            width: 100%;
        }
    }
}

.clients {
    margin: 0px 0px 80px 0px;
    @media (max-width:760px) {
        margin: 0px 0px 30px 0px;
    }
    &__list {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        width: 100%;
        @media (max-width:960px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 20px;
        }
        @media (max-width:760px) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
        }
        @media (max-width:460px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__item {
        background: #FFFFFF;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
            max-height: 80%;
        }
    }
}

.get-tech {
    background: url(../img/bg-2.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0px;
    @media (max-width:760px) {
        padding: 30px 0px;
    }
    &__content {
        background: #FFFFFF;
        border-radius: 5px;
        padding: 50px 40px;
        overflow: hidden;
        position: relative;
        @media (max-width:960px) {
            padding-bottom: 300px;
        }
        @media (max-width:760px) {
            padding: 30px 20px;
        }
        @media (max-width:560px) {
            padding: 20px 15px;
        }
        .man {
            position: absolute;
            right: 0px;
            bottom: 0px;
            @media (max-width:960px) {
                width: 50%;
            }
            img {
                display: block;
                max-width: 100%;
            }
            p {
                position: absolute;
                font-size: 18px;
                left: -70px;
                bottom: 50px;
                @media (max-width:760px) {
                    left: -120px;
                    font-size:14px;
                }
                span {
                    font-weight: 700;
                    display: block;
                }
            }
            @media (max-width:760px) {
                position: relative;
                right: -15px;
                bottom: -20px;
                width: 60%;
                float: right;
            }
        }
        ul {
            font-weight: 500;
            font-size: 20px;
            margin: 35px 0px 80px 0px;
            padding: 0px;
            @media (max-width:760px) {
                font-size: 16px;
                margin: 20px 0px 30px 0px;
            }
            @media (max-width:560px) {
                font-size: 14px;
                margin: 20px 0px 20px 0px;
            }
            li {
                margin: 0px;
                padding: 0px;
                display: block;
                margin-bottom: 10px;
                @media (max-width:560px) {
                    padding-left: 25px;
                }
                &::before {
                    content: '';
                    background: url(../img/check.svg) no-repeat;
                    width: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    height: 14px;
                    margin-right: 20px;
                    @media (max-width:560px) {
                        position: absolute;
                        left: 15px;
                    }
                }
            }
        }
    }
}

.vertical-form {
    max-width: 448px;
    z-index: 3;
    position: relative;
    &__title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
        color: #FA9C46;
        @media (max-width:560px) {
            font-size:16px;
        }
        span {
            color: #000;
        }
    }
    input {
        height: 66px;
        background: #F8F8F8;
        border-radius: 50px;
        padding: 0px 30px;
        font-size: 16px;
        border: none;
        width: 100%;
        margin-bottom: 20px;
        @media (max-width:560px) {
            height: 50px;
            margin-bottom: 10px;
        }
    }
    .btn-yellow {
        width: 100%;
    }
}

.kube-1 {
    position: absolute;
    left: -350px;
    bottom: -120px;
}

.kube-2 {
    position: absolute;
    right: -450px;
    bottom: -150px;
}
.kube-3 {
    position: absolute;
    right: -650px;
    bottom: -150px;
}
.kube-4 {
    position: absolute;
    left: -850px;
    bottom: -650px;
}
.gradient-1 {
    background: #FCD343;
    mix-blend-mode: normal;
    opacity: 0.3;
    filter: blur(199px);
    position: absolute;
    width: 242px;
    height: 242px;
    right: -550px;
    top: 150px;
}

.gradient-2 {
    background: #FCD343;
    mix-blend-mode: normal;
    opacity: 0.3;
    filter: blur(199px);
    position: absolute;
    width: 242px;
    height: 242px;
    left: -550px;
    bottom: 450px;
}

.gradient-3 {
    background: #FCD343;
    mix-blend-mode: normal;
    opacity: 1;
    filter: blur(199px);
    position: absolute;
    width: 242px;
    height: 242px;
    right: -550px;
    bottom: -400px;
}
.breadcrumbs {
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A7A7A7;
    @media (max-width:960px) {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    @media (max-width:760px) {
        padding-bottom: 20px;
    }
    a {
        color: #A7A7A7;
        text-decoration: non;
        &:hover {
            border-bottom: 1px solid;
        }
    }
    span {
        color: #F7941E;
    }
}

.product-page__slider {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
    float: right;
    @media (max-width:960px) {
        float: none;
        max-width: 600px;
        width: 100%;
        padding-bottom: 25px;
        margin-top: 20px;
        justify-content: flex-start
    }
    @media (max-width:760px) {
        justify-content: center;
    }
}

.product-slider {
    background: #fff;
    width: 370px;
    text-align: center;
    border-radius: 5px;
    @media (max-width:960px) {
        max-width: 600px;
        width: 100%;
    }
    
    img {
        display: block;
        margin: 25px auto;
        max-width: 90%;
    }
}



.product-page {
    margin-top: 30px;
    padding-bottom: 100px;
    align-items: flex-start;
    @media (max-width:960px) {
        margin-top: 10px;
        padding-bottom: 55px;
    }
    &:after {
        content: '';
        clear: both;
        display: block;
    }
    h1 {
        font-size: 36px;
        margin:0px 0px 30px 0px;
        width: calc(100% - 420px);
        float: left;
        @media (max-width:960px) {
            width: 100%;
            float: none;
        }
        @media (max-width:760px) {
            font-size: 24px;
            margin:0px 0px 20px 0px;
        }
    }
    &__content {
        width: calc(100% - 420px);
        float: left;
        @media (max-width:960px) {
            width: 100%;
            float: none;
        }
       
    }
    &__old-price {
        font-weight: 500;
        font-size: 24px;
        text-decoration-line: line-through;
        color: #A7A7A7;
        margin: 30px 0px 22px 0px;
        @media (max-width:760px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__new-price {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 4px;
        color: #FF0300;
        @media (max-width:760px) {
            font-size: 24px;
        }
        
        span {
            font-weight: 500;
            font-size: 24px;
            color: #A7A7A7;
        }
    }
    &__usl {
        font-weight: 500;
        font-size: 24px;
        @media (max-width:560px) {
            font-size: 18px;
        }
    }
    .horizontal-form {
        margin-top: 30px;
        @media (max-width:560px) {
            margin-top: 20px;
        }
    }
}

.product__tech {
    padding: 60px 0px 130px 0px;
    @media (max-width:960px) {
        padding: 40px 0px 60px 0px;
    }
    &__content {
        margin-top: 35px;
        @media (max-width:560px) {
            margin-top: 20px;
        }
    }
    &__left {
        width: calc(100% - 625px);
        @media (max-width:960px) { 
            order: 1;
            width: 100%;
        }
    }
    &__video {
        max-width: 570px;
        margin-left: 55px;
        @media (max-width:960px) {
            order: 2;
            margin-top: 45px;
            margin-left: 0px;
        }
    }
    &__ul {
        font-size: 18px;
        color: #000000;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        @media (max-width:560px) {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
        p {
            position: relative;
            padding-left: 17px;
            margin-top: 0px;
            @media (max-width:560px) {
                font-size: 14px;
            }
            &::before {
                content: '';
                background: #F7941E;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                display: block;
                position: absolute;
                left: 0px;
                top: 6px;

            }
        }
    }
    &__text {
        margin-top: 40px;
        padding-top: 35px;
        border-top: 1px solid #E1E1E1;
        margin-bottom: 26px;
        @media (max-width:760px) {
            margin-top: 20px;
            padding-top: 20px;
        }
        p {
            font-size: 18px;
            @media (max-width:560px) {
                font-size: 14px;
            }
        }
    }
}

.dl-pdf {
    background: url(../img/pdf-icon.svg) no-repeat left center;
    padding-left: 75px;
    font-weight: 500;
    min-height: 56px;
    font-size: 16px;
    text-decoration-line: underline;
    color: #000000;
    display: flex;
    align-items: center;
    &:hover {
        text-decoration-line: none;
    }
    @media (max-width:560px) {
        font-size: 14px;
    }
}


.section-1-catalog {
    background:url(../img/shtablers-bg.jpg) no-repeat center;
    background-size: cover;
    height: 790px;
    &.no-category {
        height: auto;
        padding-bottom: 80px;
    }
    @media (max-width:760px) {
        height: 700px;
    }
}

.shtablers__catalog {
    margin-top: -220px;
    @media (max-width:360px) {
        margin-top: -170px;
    }
    &__list {
        background: #FFFFFF;
        box-shadow: 0px 19px 23px rgba(252, 211, 67, 0.1);
        border-radius: 10px;
        display: flex;
        padding: 40px 30px;
        flex-wrap: wrap;
        @media (max-width:760px) {
            padding: 20px 15px;
        }
    }
    &__item {
        width: 24%;
        margin-right: 2%;
        @media (max-width:960px) {
            width: 48%;
            &:nth-child(2n) {
                margin-right: 0px;
            }
        }
        
        @media (max-width:560px) {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
        }
        p {
            font-weight: 600;
            background: url(../img/check-white.svg) no-repeat left center;
            min-height: 26px;
            padding-left: 36px;
            font-size: 18px;
            color: #000000;
        }
        .shtablers__catalog__img {
            transition: all .2s;
            &:hover {
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
            }
        }
        
    }
    &__img {
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
            max-height: 80%;
        }
    }
}

.catalog-filter {
    margin-top: 100px;
    @media (max-width:760px) {
        margin-top: 50px;
    }
}

.filter {
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 19px 25px;
    @media (max-width:760px) {
        flex-wrap: wrap;
    }
   
    &__title {
        font-weight: 600;
        font-size: 18px;
        max-width: 80px;
        margin-right: 10px;
        height: 34px;
        line-height: 34px;
        @media (max-width:760px) {
            width: 100%;
        }
        
    }
    &__col {
        width: 250px;
        margin: 0px 10px;
        @media (max-width:760px) {
            width: 100%;
            margin: 10px 0px;
        }
        p {
            font-size: 14px;
            margin: 0px 0px 5px 15px;
            font-weight: 500;
            &.ml-0 {
                margin-left: 0px;
            }
        }
        
    .custom-check {
        @media (min-width:960px) {
        margin-left: 20px;
    }
    }
    }
}

select {
    border-radius: 50px;
    height: 34px;
    background-image: url(../img/select.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 1em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    border: none;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color:#FBFBFB;
    padding: 0px 15px;
}

.custom-check {
    display: flex;
    align-items: flex-start;
    padding: 3px 0;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F7941E;

    &:before {
        content: '';
        display: block;
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        margin-right: 10px;
        background: #fff;
        border: 1px solid #F7941E;
        box-shadow: inset 0 0 0 4px #fff;
        margin-top: 3px;
    }
    input {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }
    &.active {
        &:before {
            background: #F7941E;
        }
    }
}

.shtablers {
    margin-bottom: 150px;
    @media (max-width:760px) {
        margin-bottom: 70px;
    }
}
.inner {
    h1 {
        font-size:36px;
        margin: 0px;
        @media (max-width:960px) {
            font-size:30px;
            br {
                display: none;
            }
        }
        @media (max-width:760px) {
            font-size:24px;
        }
    }
}
.manufacturer {
    &-content {
        &.manufacturer-content-50 {
            .manufacturer__list {
                margin: 25px 0px 70px -9px;
                @media (max-width:960px) {
                    margin-bottom: 30px;
                }
            }
            width: 50%;
            @media (max-width:960px) {
                width: 100%;
            }
            @media (max-width:560px) {
                width: 100%;
            }
            .manufacturer__item {
                width: 50%;
                @media (max-width:560px) {
                    width: 100%;
                }
            }
        }
        &.manufacturer-content-25 {
            width: 25%;
            @media (max-width:960px) {
                width: 50%;
            }
            @media (max-width:560px) {
                width: 100%;
            }
            .manufacturer__list {
                margin: 25px 0px 70px 0px;
                @media (max-width:960px) {
                    margin-bottom: 30px;
                }
            }
            .manufacturer__item {
                width: 100%;
            }
        }
    }
    &-row {
        width: 100%;
        padding-top: 40px;
        flex-wrap: wrap;
    }
    &__list {
        margin: 25px -9px 70px -9px;
        flex-wrap: wrap;
        @media (max-width:960px) {
            margin-bottom: 30px;
        }
    }
    &__logo {
        height: 47px;
    }
    &__item {
        width: 25%;
        @media (max-width:960px) {
            width: 33.33%;
        }
        @media (max-width:760px) {
            width: 50%;
            margin-bottom: 30px;
        }
        @media (max-width:560px) {
            width: 100%;
        }
        p {
            background: linear-gradient(94.87deg, #FA9C46 0%, #FCD343 100%);
            border-radius: 50px;
            padding: 7px 23px;
            font-weight: 600;
            font-size: 16px;
            margin: 18px 9px 0px 9px;
            display: table;
            color: #000;
        }
    }
    &__img {
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        height: 330px;
        margin: 0px 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
            max-height: 80%;
        }
    }
}

.lizing {
    &__list {
        margin-top: 50px;
        @media (max-width:760px) {
            flex-wrap: wrap;
            margin-top: 0px;
        }
    }
    &__item {
        width: 25%;
        padding: 25px 30px;
        position: relative;
        @media (min-width:760px) and (max-width:960px) {
            padding: 25px 15px;
        }
        @media (max-width:760px) {
            width: 100%;
            padding: 25px 15px;
            display: flex;
        }
        p {
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            @media (max-width:760px) {
                br {
                    display: none;
                }
            }
            span {
                color: #FA9C46;
            }
        }
        &:nth-child(1), &:nth-child(2) {
            &:after {
                content: '';
                width: 80px;
                height: 35px;
                display: block;
                position: absolute;
                right: 0px;
                top:0px;
                display: block;
                background: url(../img/arr-next.svg) no-repeat;
                @media (max-width:760px) {
                    bottom: -20px;
                    right: 0px;
                    top: auto;
                    transform: rotate(90deg);
                }
            }
        }
        &__border {
            border: 2px solid #F8F8F8;
            border-radius: 5px;
        }
    }
    &__nom {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #FA9C46;
        @media (max-width:760px) {
            margin-right: 20px;
            margin-top: 10px;
        }
    }
}

.lizing__profit {
    border-top: 2px dashed #E1E1E1;
    padding-top: 50px;
    margin-top: 50px;
    @media (max-width:960px) {
        padding-top: 30px;
        margin-top: 30px;
    }
    &__title {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        background: url(../img/icon-lizing.svg) no-repeat left;
        padding-left: 70px;
        display: flex;
        align-items: center;
        min-height: 50px;
        @media (max-width:960px) {
            font-size: 24px;
        }
    }
    &__content {
        background: linear-gradient(94.87deg, #FA9C46 0%, #FCD343 100%);
        border-radius: 10px;
        padding: 30px;
        color: #fff;
        margin:26px 0px 40px 0px;
        position: relative;
        
        @media (min-width:760px) and (max-width:960px) {
            padding-right: 250px;
        }
        @media (max-width:760px) {
            padding-bottom: 370px;
        }
        &:after {
            content: '';
            background: url(../img/simple-line-icons_like.svg) no-repeat;
            width: 189px;
            height: 183px;
            position: absolute;
            display: block;
            right: 45px;
            top: 11px;
            @media (min-width:960px) and (max-width:1200px) {
                right: -10px;
            }
            @media (min-width:760px) and (max-width:960px) {
                right: -45px;
                top: 31px;
            }
            @media (max-width:760px) {
                bottom: 80px;
                top: auto;
                right: -60px;
            }
        }
        p {
            font-weight: bold;
            font-size: 18px;
            color: #FFFFFF;
            position: relative;
            padding-left: 35px;
            @media (max-width:560px) {
                font-size: 14px;
            }
            &::before {
                content: '';
                background: url(../img/w-check.svg) no-repeat left;
                width: 20px;
                height: 14px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                position: absolute;
                left: 0px;
                top: 3px;
            }
        }
    }
    &__img {
        position: absolute;
        right: 160px;
        top: -160px;
        z-index: 1;
        @media (min-width:960px) and (max-width:1200px) {
            right: 80px;
            top: -50px;
            img {
                width: 300px;
            }
        }
        @media (min-width:760px) and (max-width:960px) {
            right: 30px;
            top: 10px;
            img {
                width: 200px;
            }
        }
        @media (max-width:760px) {
            top: auto;
            right: 50px;
            width: 290px;
            bottom: -60px;
            img {
                width: 100%;
            }
        }
    }
}

.lizing__base-usl {
    max-width: 472px;
    width: 100%;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    padding: 20px 30px;
    @media (max-width:760px) {
        margin-top: 60px;
        padding: 20px 15px;
    }
    &__title {
        font-weight: 800;
        font-size: 24px;
        @media (max-width:560px) {
            font-size: 18px;
        }
    }
    p {
        font-weight: 500;
        font-size: 18px;
        @media (max-width:560px) {
            font-size: 14px;
        }
        span {
            color: #F7941E;
            font-size: 700;
        }
    }
}

.lizing__form {
    justify-content: space-between;
    margin: 85px 0px 120px 0px;
    @media (max-width:960px) {
        margin: 45px 0px 80px 0px;
    }
    @media (max-width:560px) {
        margin: 45px 0px 50px 0px;
    }
    &__info {
        width: calc(100% - 470px);
        @media (max-width:960px) {
            width: 100%;
        }   
        h2 {
            font-weight: 800;
            font-size: 24px;
            text-transform: uppercase;
            margin: 0px 0px 19px 0px;
            @media (max-width:760px) {
                font-size:18px;
                br {
                    display: none;
                }
            }
        }
        p {
            font-weight: 500;
            font-size: 18px;
            @media (max-width:760px) {
                font-size:14px
            }
        }
        .horizontal-form {
            margin-top: 36px;
            @media (max-width:760px) {
                margin-top: 20px;
            }
            input {
                background: #F8F8F8;
            }
        }
    }
    &__boxes {
        position: relative;
        @media (max-width:960px) {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            padding-right: 50px;
            img {
                width: 330px;
                
            }
        }
        @media (max-width:560px) {
            width: 100%;
            margin-top: 30px;
            display: flex;
            padding-right: 30px;
            justify-content: flex-end;
            img {
                width: 230px;
                
            }
        }
        &:after {
            content: '';
            display: block;
            background: #FCD343;
            mix-blend-mode: normal;
            opacity: 0.5;
            filter: blur(199px);
            position: absolute;
            width: 242px;
            height: 242px;
            z-index: -1;
            top: -20%;
            right: -20%;
        }
    }
}

.lizing__treangle {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -2;
    @media (max-width:760px) {
        bottom: 100px;
        width: 100%;
    }
}

.kube-lizing-1 {
    position: absolute;
    left: -730px;
    top: -100px;
    @media (max-width:960px) {
        display: none;
    }
}

.kube-lizing-2 {
    position: absolute;
    right: -630px;
    bottom: 200px;
    @media (max-width:960px) {
        display: none;
    }
}

.contacts {
    &__page {
        margin-top: 40px;
        padding-bottom: 60px;
        border-bottom: 2px dashed #E1E1E1;
        margin-bottom: 50px;
    }
    &__col-1 {
        width: 40%;
        align-items: flex-start;
        @media (max-width:960px) {
            width: 100%;
        }
    }
    &__col-2 {
        width: 60%;
        @media (max-width:960px) {
            max-width: 600px;
            width: 100%;
            margin-top: 40px;
        }
        @media (max-width:760px) {
            width: 100%;
            margin-top: 20px;
        }
        img {
            width: 100%;
        }
    }
    &__main-contacts {
        width: 90%;
        border-right: 2px dashed #E1E1E1;
        @media (max-width:760px) {
            width: 100%;
            border-right: 0px;
            border-bottom:  2px dashed #E1E1E1;
            margin-bottom: 35px;
            padding-bottom: 35px;
        }
    }
    &__adres_sklad {
        padding: 0px 54px;
        width: 55%;
        @media (max-width:760px) {
            width: 100%;
            padding: 0px;
        }
        .contacts__label {
            color: #F7941E;
        }
    }
    &__label {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__phone {
        font-weight: 600;
        font-size: 24px;
        color: #F7941E;
    }
    &__row {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__info {
        font-weight: 600;
        font-size: 18px;
    }
}

.partner-cart {
    width: 175px;
    height: 39px;
    background: linear-gradient(94.87deg, #0A7F22 0%, #2CAF48 100%);
    box-shadow: 0px 11px 30px -4px rgba(250, 156, 70, 0.25);
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    padding: 9px 44px 9px 63px;
    position: relative;
    display: table;
    &:hover {
        background: #F7941E;
    }
    &::before {
        content: '';
        width: 21px;
        height: 21px;
        background: url(../img/btn-dl.svg) no-repeat;
        position: absolute;
        left: 34px;
        top: 9px;
        display: block;
    }
}

.contacts__maps {
    padding-bottom: 100px;
    @media (max-width:760px) {
        padding-bottom: 10px;
    }
    > div {
        width: 48%;
        @media (max-width:760px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    p {
        font-weight: 600;
        font-size: 18px;
        margin: 8px 0px;
        &.orange-text {
            color: #F7941E;
        }
    }
}

#map-1, #map-2 {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    @media (max-width:960px) {
        height: 300px;
    }
    @media (max-width:760px) {
        height: 250px;
    }
}

.map-2__container, .map-1__container {
    position: relative;
    span {
        display: block;
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
}

.parts {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 60px;
        width: 100%;
        margin-bottom: 100px;
        margin-top: 50px;
        @media (max-width:960px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:760px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;
            margin-bottom: 40px;
            margin-top: 30px;
        }
        @media (max-width:560px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        background: #FFFFFF;
        border-radius: 5px;
        border: 2px solid #FA9C46;
        padding: 15px;
        position: relative;
        padding-bottom: 75px;
        .btn-yellow {
            position: absolute;
            bottom: 20px;
        }
        p {
            font-weight: 600;
            font-size: 18px;
            margin: 16px 0px;
        }
    }
    &__img {
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #FA9C46;
        @media (max-width:560px) {
            height: 170px;
        }
        img {
            max-width: 90%;
            max-height: 90%;
        }
    }
}

.help-parts {
    background: url(../img/bg-parts.jpg) no-repeat center;
    background-size: cover;
    padding: 90px 0px;
    @media (max-width:560px) {
        padding: 30px 0px;
    }
    &__content {
        background-color: rgba(248, 248, 248, 0.9);
        background-image: url(../img/triangle-yellow.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: right bottom;
        backdrop-filter: blur(25px);
        border-radius: 10px;
        padding: 42px;
        position: relative;
        @media (max-width:960px) {
            padding-bottom: 150px;
        }
        @media (max-width:560px) {
            padding: 20px 15px 180px 15px;
            background-size: 100%;
        }
        .title {
            margin-bottom: 35px;
            @media (max-width:960px) {
                br {
                    display: none;
                }
            }
        }
        .form__flex {
            max-width: 60%;
            @media (max-width:960px) {
                max-width: 100%;
                .submit-btn {
                    width: 100%;
                }
            }
        }
        input {
            width: 48%;
            background: #FFFFFF;
            border-radius: 50px;
            height: 50px;
            padding: 0px 15px;
            margin-bottom: 20px;
            border: none;
            @media (max-width:560px) {
                width: 100%;
            }
        }
        textarea {
            width: 100%;
            height: 150px;
            background: #FFFFFF;
            border-radius: 10px;
            resize: none;
            border: none;
            margin-bottom: 30px;
            padding: 15px;
        }
    }
    &__img {
        position: absolute;
        right: 0px;
        bottom: -30px;
        @media (max-width:960px) {
            img {
                width: 350px;
            }
        }
        @media (max-width:560px) {
            img {
                width: 220px;
            }
        }
    }
    .kube-part-1 {
        position: absolute;
        left: -730px;
        top: -30px;
        @media (max-width:960px) {
            display: none;
        }
    }
    .kube-part-2 {
        position: absolute;
        right: -630px;
        bottom: 50px;
        @media (max-width:960px) {
            display: none;
        }
    }
}


.thx-page {
    background: url(../img/thx-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 51px 177px 70px 0px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
    @media (max-width:960px) {
        padding: 30px 20px 30px 20px;
        border-radius: 10px;
    }
    &__content {
        background: rgba(248, 248, 248, 0.9);
        backdrop-filter: blur(104px);
        border-radius: 10px;
        padding: 75px 100px 75px 250px;
        justify-content: center;
        text-align: center;
        @media (max-width:960px) {
            padding: 45px 100px 55px 100px;
        }
        @media (max-width:760px) {
            padding: 45px 20px 55px 20px;
        }
        .vertical-form {
            max-width: 370px;
            margin: 0 auto;
            input {
                background: #fff;
            }
        }
    }
    &__text {
        font-size:24px;
        margin-bottom: 36px;
        @media (max-width:760px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
        span {
            font-size: 30px;
            font-weight: 700;
            display: block;
            @media (max-width:760px) {
                font-size: 20px;
            }
        }
    }
}

.kube-thx-1 {
    position: absolute;
    left: -730px;
    z-index: -1;
    top: -250px;
    @media (max-width:960px) {
        display: none;
    }
}

.kube-thx-2 {
    position: absolute;
    right: -730px;
    bottom: -100px;
    @media (max-width:960px) {
        display: none;
    }
}

.about {
    padding: 60px 0px;
    .title {
        margin-bottom: 20px;
    }
}

.clear {
    display: block;
    clear: both;
}

.leftimg {
    float: right;
    display: inline-block;
}

.fz-20 {
    font-size: 20px;
    @media (max-width:760px) {
        font-size: 16px;
    }
}
.orange {
    color: #F7941E;
}
.about {
    img {
        max-width: 100%;
    }
}
.about img.rightImg {
    margin: 0px 0px 20px 30px;
    @media (min-width:760px) and (max-width:960px) {
        max-width: 45%;

    }
}
.m-35 {
    margin: 35px 0px;
}

.mt-70 {
    margin-top: 70px !important;
    @media (max-width:760px) {
        margin-top: 40px !important;
    }
}

.mt-45 {
    margin-top: 45px !important;
    @media (max-width:760px) {
        margin-top: 25px !important;
    }
}



.fz-18 {
    font-size: 18px !important;
    @media (max-width:760px) {
        font-size: 15px !important; 
    }
}
.fw-500 {
    font-weight: 500 !important;
}

.about-text-border {
    padding: 28px;
    font-weight: 600;
    font-size: 18px;
    background: #FFFFFF;
    border: 2px solid #F7941E;
    border-radius: 5px;
    margin: 40px 0px;
    @media (max-width:760px) {
        padding: 15px;
        font-weight: 600;
        font-size: 15px;
    }
    .about-border {
        margin-bottom: 28px;
    }
}
.about-border {
    border: 2px dashed #E1E1E1;
    width: 100%;
    height: 2px;
}
.font-w-600 {
    font-weight: 600;
}

.about--w-img {
    margin: 18px 0px;
}
.about--w-left-img {
    width: 300px;
    @media (max-width:760px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 48%;
        }
    }
    img {
        max-width: 262px;
    }
    &__2 {
        img:first-child {
            margin-top: 20px;
            margin-bottom: 60px;
            @media (max-width:760px) {
                margin-bottom: 20px;
            }
        }
        
    }
}
.about--w-text {
    width: calc(100% - 300px);
    font-size: 18px;
    font-weight: 500;
    @media (max-width:760px) {
        width: 100%;
        margin-top: 15px;
        font-size: 15px;
    }
    p {
        margin-top: 0px;
        margin-bottom: 24px;
    }
}

.about--w-img-2 {
    .about--w-left-img {
        max-width: 450px;
        width: 100%;
        @media (min-width:760px) and (max-width:960px) { 
            max-width: 42%;
            margin-right: 3%;
        }
        img {
            max-width: 420px;
            width: 100%;
        }
    }
    .about--w-text {
        width: calc(100% - 450px);
        @media (min-width:760px) and (max-width:960px) {
            width: 55%;
        }
        @media (max-width:760px) {
            width: 100%;
        }
    }
}

.about-text-border__half {
    justify-content: space-between;
    &__img {
        max-width: 400px;
        width: 100%;
        border-right: 4px solid #F7941E;
        @media (min-width:760px) and (max-width:960px) {
            max-width: 43%;
            padding-right: 25px;
        }
        @media (max-width:760px) {
            max-width: 100%;
            border: none;
            margin-bottom: 15px;
        }
        img {
            max-width: 375px;

            @media (max-width:960px) {
                max-width: 100%;
            }
        }
    }
    &__text {
        width: calc(100% - 425px);
        font-weight: 600;
        font-size: 18px;
        @media (min-width:760px) and (max-width:960px) {
            width: 54%;
        }
        @media (max-width:760px) {
            width: 100%;
            font-size: 15px;
        }
    }
}

.about-row {
    margin: 30px 0px;
    font-size: 18px;
    font-weight: 500;
    @media (max-width:760px) {
        font-size: 15px;
    }
}

.about-grey {
    background: #F8F8F8;
    border-radius: 5px;
    padding: 44px;
    font-weight: 500;
    font-size: 18px;
    @media (max-width:960px) {
        padding: 20px;
    }
    @media (max-width:760px) {
        padding: 15px;
        font-size: 15px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        color: #F7941E;
        margin-bottom: 25px;
        @media (max-width:760px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
}
.about-img__p {
    text-align: center;
    margin-right: 22px;
    p {
        margin-top: 5px;
    }
}

.imgAlignRight {
    margin: 0px 0px 28px 40px;
    @media (max-width:760px) {
        margin: 0px 0px 15px 10px;
        width: 40%; 
    }
}
.imgAlignLeft {
    margin: 0px 40px 28px 0px;
    @media (max-width:760px) {
        margin: 0px 10px 10px 0px;
        width: 40%; 
    }
}

.about-text-border__half-2 {
    margin: 28px 0px;
    justify-content: space-between;
    &__img {
        max-width: 650px;
        width: 100%;
        border-right: 4px solid #F7941E;
        @media (max-width:960px) { 
            border: none;
        }
        img {
            max-width: 625px;
            @media (max-width:960px) { 
                max-width: 100%;
            }
        }
    }
    &__text {
        width: calc(100% - 675px);
        font-weight: 500;
        font-size: 18px;
        p {
            margin-top: 0px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        @media (max-width:960px) {
            width: 100%;
            margin-top: 15px;
        }
        @media (max-width:760px) {
            font-size: 15px;
        }
    }
}
.city-selector {
    background: #fff;
    width: 100%;
    height: 100%;
    min-height: 750px;
    z-index: 4;
    padding: 70px 0px;
}
.city-selector__list {
    -moz-column-count: 4;
    column-count: 4;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-top: 30px;
    padding-bottom: 100px;
   
    @media (max-width: 960px) {
        -moz-column-count: 3;
        column-count: 3;
        
    }
    @media (max-width: 760px) {
        -moz-column-count: 2;
        column-count: 2;
    }
    @media (max-width: 460px) {
        -moz-column-count: 1;
        column-count: 1;
    }
}
.city-selector__item {
    margin-bottom: 22px;
    display: inline-block;
    width: 100%;
    a {
        font-size: 18px;
        line-height: 183.19%;
        text-decoration: none;
        display: table;
        font-weight: 400;
        color: #000;
        transition: all 0.2s;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid;
        }
    }
}
.city-selector__letter {
    font-weight: 900;
    font-size: 18px;
    line-height: 133.19%;
    color: #393C47;
}
.city-selector__list a.capital {
    font-weight: bold;
    color: #F7941E;
}


.kube-filials-1 {
    position: absolute;
    left: -730px;
    z-index: 1;
    top: -250px;
    @media (max-width:960px) {
        display: none;
    }
}

.kube-filials-2 {
    position: absolute;
    right: -730px;
    bottom: 100px;
    @media (max-width:960px) {
        display: none;
    }
}

.filter-option__inputs {
    margin-top: 13px;
    input {
        background: #F8F8F8;
        border-radius: 3px;
        width: 52px;
        height: 17px;
        border: none;
        font-weight: 500;
        font-size: 12px;
        color: #000000;
        padding: 2px 7px;
        margin-right: 4px;
        &:last-child {
            margin-left: 4px;
        }
    }
}
.ui-slider-horizontal {
    height: 4px;
    background: #E1E1E1;
    border-radius: 50px;
    width: 100%;
    border: none;
    margin-top: 14px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: -5px;
        height: 16px;
        width: 1px;
        background: #E1E1E1;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0px;
        top: -5px;
        height: 16px;
        width: 1px;
        background: #E1E1E1;
    }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: linear-gradient(94.87deg, #FA9C46 0%, #FCD343 100%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    &:active, &:focus, &:hover {
        border: none;
    }
}
.ui-widget-header {
    background: #FCD343;
    border-radius: 50px;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: 0px;
    &:last-child {
        margin-left: -10px;
    }
}

.contact-slider {
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }
    .slick-prev, .slick-next {
        top: 103%;
    }
}

.whtsp_btn {
    display: none;
    @media (max-width:760px) {
        display: block;
        position: fixed;
        right: 25px;
        bottom: 25px;
        z-index: 110;
        color: #20272a;
        font-size: 14px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #ffffff;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-weight: 600;
        background: url(../img/whatsapp.svg) center no-repeat $green;
        background-size: 25px;
        text-decoration: none !important;
    }
}

.telegram_btn {
    display: none;
    @media (max-width:760px) {
        display: block;
        position: fixed;
        right: 85px;
        bottom: 25px;
        z-index: 110;
        color: #20272a;
        font-size: 14px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #ffffff;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-weight: 600;
        background: url(../img/telegram.svg) center no-repeat #2197D5;
        background-size: 22px;
        text-decoration: none !important;
    }
}
#toTop {
    @media (min-width:780px) {
    width: 50px;
    height: 50px;
    background: url(../img/totop.png) no-repeat center #fff;
    background-size: 30px;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 3;
    cursor: pointer;
}
}